* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
.container {
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.heading {
  padding: 0 .9375rem;
  color: #454489;
  font-weight: 300;
  text-align: center;
}

@media (min-width: 19.94em) {
  .heading {
    font-size: 1.75rem;
    line-height: 2.375rem;
  }
} 

@media (min-width: 61.94em) {
  .heading {
    font-size: 3rem;
    line-height: 3.625rem;
  }
}